---
title: GitLab CI/CD Training
suppress_header: true
description: "Learn how to set up continuous Integration/Continuous Deployment (CI/CD) for your software production projects to improve product delivery times and quality"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_cicd" }
    .row
      .col-md-12
        %h2 Course Agenda
        .row
          .col-md-8.col-md-offset-1
            %table
              %thead
                %tr
                  %th Course Day
                  %th Topic
              %tbody
                %tr
                  %td Morning
                  %td 
                    %ul
                      %li CI/CD Overview
                      %li Demo and Labs: Setting up and Configuring CI/CD in GItLab
                %tr
                  %td Afternoon
                  %td 
                    %ul
                      %li GitLab Runners
                      %li Demos and Hand-on Labs:
                      %li Verify a New Feature
                      %li Understand the execution context where jobs are run
                      %li Scope and persist variables at various levels
                      %li Scaffold out the basics of a test, build, review, and deploy pipeline leveraging feature/topic branching as the review mechanism
                      %li Release and deployment workflow
                      %li Artifacts and dependency caching
                      %li Building and deploying Images to GitLab registry
        = partial "includes/services/requirements", locals: { id: "training_sessions_cicd" }
        = partial "includes/services/pricing", locals: { id: "training_sessions_cicd" }
